html {
    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #000;
    scrollbar-shadow-color: #646464;
    scrollbar-dark-shadow-color: #646464
}

::-webkit-scrollbar {
    width: 14px;
    height: 3px
}

::-webkit-scrollbar-button {
    background-color: #000;
    height: 3px
}

::-webkit-scrollbar-track {
    background-color: #646464
}

::-webkit-scrollbar-track-piece {
    background-color: #000
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #666;
    border-radius: 7px
}

::-webkit-scrollbar-corner {
    background-color: #646464
}

::-webkit-resizer {
    background-color: #666
}

:root {
    --highlight-color: #978141
}

.flex {
    display: flex !important
}

body {
    line-height: 1.5em;
    color: #fff;
    background-color: #0f0f0f
}

#content {
    padding: 20px
}

#sidebar {
    padding: 30px;
    overflow: hidden
}

#sidebar>*:last-child {
    margin-bottom: 2cm
}

#lunr-search {
    color: #fff;
    width: 100%;
    font-size: 1em;
    padding: 6px 9px 5px 9px;
    border: 1px solid transparent;
    background: #262626
}

.http-server-breadcrumbs {
    font-size: 130%;
    margin: 0 0 15px 0
}

#footer {
    font-size: .75em;
    padding: 5px 30px;
    border-top: 1px solid #ddd;
    text-align: right
}

#footer p {
    margin: 0 0 0 1em;
    display: inline-block
}

#footer p:last-child {
    margin-right: 30px
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 300
}

h1 {
    font-size: 2.5em;
    line-height: 1.1em;
    font-family: Liberation Mono
}

h2 {
    font-size: 1.75em;
    line-height: 1.25em;
}

h3 {
    font-size: 1.4em;
    margin: 0;
}

h4 {
    margin: 0;
    font-size: 105%
}

h1:target,
h2:target,
h3:target,
h4:target,
h5:target,
h6:target {
    background: var(--highlight-color);
    padding: .2em 0
}

a {
    color: #70BAFF;
    text-decoration: none;
    transition: color .2s ease-in-out
}

a:hover {
    color: #CDB4DB
}

.title code {
    font-weight: bold
}

h2[id^="header-"] {
    margin-top: 2em
}

.ident {
    color: #79aaf8
}

pre code {
    background: transparent;
    font-size: .8em;
    line-height: 1.4em
}

code {
    background: rgba(255, 255, 255, 0.1);
    padding: 1px 4px;
    overflow-wrap: break-word
}

h1 code {
    background: transparent
}

pre {
    background: #1e2122;
    padding: 1ex
}

#http-server-module-list {
    display: flex;
    flex-flow: column
}

#http-server-module-list div {
    display: flex
}

#http-server-module-list dt {
    min-width: 10%
}

#http-server-module-list p {
    margin-top: 0
}

.toc ul,
#index {
    list-style-type: none;
    margin: 0;
    padding: 0
}

#index code {
    background: transparent
}

#index h3 {
    border-bottom: 1px solid #646464
}

#index ul {
    padding: 0
}

#index h4 {
    margin-top: .6em;
    font-weight: bold
}

@media (min-width:200ex) {
    #index .two-column {
        column-count: 2
    }
}

@media (min-width:300ex) {
    #index .two-column {
        column-count: 3
    }
}

dl {
    margin-bottom: 2em
}

dl dl:last-child {
    margin-bottom: 4em
}

dd {
    margin: 0 0 1em 2em
}

#header-classes+dl>dd {
    margin-bottom: 3em
}

dd dd {
    margin-left: 2em
}

dd p {
    margin: 0 0
}

.name {
    background: #000;
    font-weight: bold;
    font-size: .85em;
    padding: 5px 10px;
    display: inline-block;
    min-width: 40%
}

.name:hover {
    background: #0b0b0b
}

dt:target .name {
    background: var(--highlight-color)
}

.name>span:first-child {
    white-space: nowrap
}

.name.class>span:nth-child(2) {
    margin-left: .4em
}

.inherited {
    color: #999;
    border-left: 5px solid #eee;
    padding-left: 1em
}

.inheritance em {
    font-style: normal;
    font-weight: bold
}

.desc h2 {
    font-weight: 400;
    font-size: 1.25em
}

.desc h3 {
    font-size: 1em
}

.desc dt code {
    background: inherit
}

.source summary,
.git-link-div {
    color: #666;
    text-align: right;
    font-weight: 400;
    font-size: .8em;
    text-transform: uppercase
}

.source summary>* {
    white-space: nowrap;
    cursor: pointer
}

.git-link {
    color: inherit;
    margin-left: 1em
}

.source pre {
    background: #282c34;
    max-height: 500px;
    margin: 0;
    overflow-x: scroll;
    overflow-y: scroll
}

.source pre code {
    font-size: 12px;
    overflow-x: initial
}

.hlist {
    list-style: none
}

.hlist li {
    display: inline
}

.hlist li:after {
    content: ',\2002'
}

.hlist li:last-child:after {
    content: none
}

.hlist .hlist {
    display: inline;
    padding-left: 1em
}

img {
    max-width: 100%
}

td {
    padding: 0 .5em
}

.admonition {
    padding: .1em .5em;
    margin-bottom: 1em
}

.admonition-title {
    font-weight: bold
}

.admonition.note,
.admonition.info,
.admonition.important {
    background: #aef
}

.admonition.todo,
.admonition.versionadded,
.admonition.tip,
.admonition.hint {
    background: #dfd
}

.admonition.warning,
.admonition.versionchanged,
.admonition.deprecated {
    background: #fd4
}

.admonition.error,
.admonition.danger,
.admonition.caution {
    background: lightpink
}

@media screen and (min-width:700px) {
    #sidebar {
        width: 30%;
        height: 100vh;
        overflow: auto;
        position: sticky;
        top: 0
    }

    #content {
        width: 70%;
        border-left: 1px solid #1b1b1b;
        transition: display 2s;
    }

    pre code {
        font-size: 1em
    }

    .item .name {
        font-size: 1em
    }

    main {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end
    }

    .toc ul ul,
    #index ul {
        padding-left: 1.5em
    }

    .toc>ul>li {
        margin-top: .5em
    }
}

@media print {
    #sidebar h1 {
        page-break-before: always
    }

    .source {
        display: none
    }
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important
    }

    a[href]:after {
        content: " ("attr(href) ")";
        font-size: 90%
    }

    a[href][title]:after {
        content: none
    }

    abbr[title]:after {
        content: " ("attr(title) ")"
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: ""
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid
    }

    thead {
        display: table-header-group
    }

    tr,
    img {
        page-break-inside: avoid
    }

    img {
        max-width: 100% !important
    }

    @page {
        margin: 0.5cm
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        page-break-after: avoid
    }
}

html {
    font-family:
        system-ui,
        /* macOS 10.11-10.12 */
        -apple-system,
        /* Windows 6+ */
        "Segoe UI",
        /* Android 4+ */
        "Roboto",
        /* Ubuntu 10.10+ */
        "Ubuntu",
        /* Gnome 3+ */
        "Cantarell",
        /* KDE Plasma 5+ */
        "Noto Sans",
        /* fallback */
        sans-serif,
        /* macOS emoji */
        "Apple Color Emoji",
        /* Windows emoji */
        "Segoe UI Emoji",
        /* Windows emoji */
        "Segoe UI Symbol",
        /* Linux emoji */
        "Noto Color Emoji";
    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #000;
    scrollbar-shadow-color: #646464;
    scrollbar-dark-shadow-color: #866a6a;
}

::-webkit-scrollbar {
    width: 14px;
    height: 3px;
}

::-webkit-scrollbar-button {
    background-color: #000;
    height: 3px;
}

::-webkit-scrollbar-track {
    background-color: #646464;
}

::-webkit-scrollbar-track-piece {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #666;
    border-radius: 7px;
}

::-webkit-scrollbar-corner {
    background-color: #646464;
}

::-webkit-resizer {
    background-color: #666;
}

:root {
    --highlight-color: #978141;
}

.flex {
    display: flex !important;
}


body {
    line-height: 1.5em;
    color: #fff;
    background-color: #0f0f0f;
}

select {
    display: flex;
    margin: 0.5em;
    font-size: 100%;
    text-align-last: center;
    vertical-align: middle;
    background-color: #242424;
    border: 0px;
    border-radius: 0.5em;
    color: inherit;
    padding: 1em 0 1em 0;
    width: 75%;
    align-content: left;
}

select * {
    background-color: #534343;
    border: 0px;
}

.form1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    margin: auto;
}

.form1 div {
    display: block;
    margin: auto;
    width: 100%;
    text-align: right;
}

code {
    color: #abb2bf;
}

pre {
    background-color: #242424;
}

.highlight-wrapper {
    display: block;
}

.highlight {
    position: relative;
    z-index: 0;
    padding: 0;
    margin: 0;
    border-radius: 4px;
}

.copy-code-button {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    font-size: 13px;
    font-weight: 700;
    line-height: 14px;
    width: 65px;
    color: #232326;
    background-color: #7f7f7f;
    border: 1.25px solid #232326;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 4px;
    white-space: nowrap;
    padding: 4px 4px 5px 4px;
    margin: 0 0 0 1px;
    cursor: pointer;
    opacity: 0.6;
}

.copy-code-button:hover,
.copy-code-button:focus,
.copy-code-button:active,
.copy-code-button:active:hover {
    color: #222225;
    background-color: #b3b3b3;
    opacity: 0.8;
}

.copyable-text-area {
    position: absolute;
    height: 0;
    z-index: -1;
    opacity: 0.01;
}

ul li img {
    display: block;
    max-width: 50%;
}


@media (max-width: 1000px) {
    ul li img {
        display: block;
        max-width: 75%;
    }
}

@media (max-width: 500px) {
    ul li img {
        display: block;
        max-width: 100%;
    }
}

kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    line-height: normal;
    line-height: 10px;
    color: #c9d1d9;
    vertical-align: middle;
    background-color: #161b22;
    border: solid 1px rgba(110, 118, 129, 0.4);
    border-bottom-color: rgba(110, 118, 129, 0.4);
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 rgba(110, 118, 129, 0.4);
}

code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(110, 118, 129, 0.4);
    border-radius: 6px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    align-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

#ol-img {
    margin: 0 auto;
    align-self: center;
    max-width: 100%;
    max-height: 90vh;
    width: auto;
    size: contain;
}

#overlay p {
    text-align: center;
    margin: 0.2em 0 0 0;
}

#overlay a:link {
    color: white;
}

#overlay a:visited {
    color: white;
}

#overlay a:active {
    color: white;
}

#overlay a:hover {
    color: white;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #1c1c1c;
    margin: auto;
    padding: 20px;
    border: 0;
    width: 80%;
}

/* The Close Button */
#close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    margin: auto;
    table-layout: fixed;
    width: 100%;
}

td, th {
    text-align: center;
    padding: 0.5em;
}

tr:nth-child(even) {
    background-color: #262626;
}

td img {
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

td btn {
    margin: auto;
}

thead {
    border-bottom: #646464 solid .25em;
}

blockquote {
    background: hsla(0 0% 100% / 5%);
    padding: 1px 20px;
    border-left: .25em solid #30363d;
    align-content: center;
}

#list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1000px) {
    #list {
        grid-template-columns: repeat(1, 1fr);
    }
}

#list>div {
    background-color: #262626;
    margin: 1em;
    padding: 1em;
    border-left: .325em solid #3c3c3c;
}

#list>div h3 {
    margin-bottom: .5em;
}

.rps {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.rd-pill {
    border-radius: 50rem;
    background-color: #666666;
    width: fit-content;
    padding: 0 .5em;
    margin: .25em;
    justify-content: center;
    height: 1.5em;
}

.ss {
    margin-left: 20px;
}

.rpi {
    max-width: 1em;
    text-align: center;
    position: absolute;
    margin-top: 4px;
}

#splash {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #0f0f0f;
    overflow-x: hidden;
}

#navbar {
    z-index: 2;
    background-color: #0f0f0f;
    position: fixed;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: #1b1b1b;
    padding-bottom: 10px;
    padding-top: 0.6rem;
    top: 0px;
    display: none;
    height: 5%;
}

#navbar svg {
    height: 1.5rem;
    width: 1.5rem;
}

#navbar .sitename {
    font-size: 1.3rem;
    font-weight: 600;
}

#navbar img {
    height: 1.5rem;
    margin-right: 2rem;
    margin-left: 1.3rem;
    min-width: 2rem;
    vertical-align: top;
}
